:root {
	--cards: 4;
	--cardHeight: 80vh;
	--cardTopPadding: 1.5em;
	--cardMargin: 4vw;
}

.container {
	width: 90%;
	margin: 0 auto;
}

#cards {
	list-style: none;
	padding-left: 0;
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--cardMargin);
	padding-bottom: calc(var(--cards) * var(--cardTopPadding));
	margin-bottom: var(--cardMargin);
}

#card1 {
	--index: 1;
}
#card2 {
	--index: 2;
}
#card3 {
	--index: 3;
}
#card4 {
	--index: 4;
}

.card {
	position: sticky;
	top: 0;
	padding-top: calc(var(--index) * var(--cardTopPadding));
}

.card-body {
	box-sizing: border-box;
	height: var(--cardHeight);
	transition: all 0.5s;
	display: flex;
	justify-content: center;
}

.card-content{
	border-radius: 1rem;
	width: 92%;
	height:90vh;
	background-color: white;
}